<!--홈페이지!-->
{% extends 'nav.html'%}
{% load staticfiles %}
{% block contents %}
<body>
 <div class="contents">

<div class="left">
<!--내 계정 링크-->
    <div class="profile">
        <a href="./profile.html" style="color:#9DA674;">
            <img src="{% static 'avatar_head.png' %}" class="head" alt="My Avatar">
            <div class="profile_ex">
                <p>계정주</p>
                <p><span class="english">Lv. 3</span> 조사자</p>
            </div>
        </a>
    </div>
<!--내 계정 링크 끝-->

<!--달력-->
    <div class="calendar">
        <div class="dues">
            <a href="" style="text-decoration: none;color:#77A6A1;">
                <div class="due_date">06/23</div>
                <div class="due_ex">
                    <p><b>[팀플 이름]</b></p>
                    <p>일정 설명</p>
                </div>
            </a>
        </div>
        <button type="button" value="달력" class="calendar_link"><b>달력 확인하기</b></button>
    </div>
<!--달력 끝-->
</div>

<div class="right">
    <!--팀플 리스트-->
    <div class="team">
        <a href="{%url 'new' %}"><button type="button" value="팀플" class="team_new"><b>+ 새로운 팀플 만들기</b></button></a>
            {% for team in teams.all %}
            <a href="{% url 'team' team.pk %}" style="text-decoration:none;">
                <button type="button" value="팀플" class="team_list">  
                    <span style="font-size:1.5em;"><b>[{{team.t_name}}]</b></span> <span style="font-size:1.1em;">{{team.t_class}}</span>
                </button>
            </a>
            {% endfor %}
        </div>
    <!--팀플 리스트 끝-->
</div>

</div>

</body>
{% endblock %}
