<!--홈페이지!-->
{% extends 'nav.html'%}
{% load staticfiles %}
{% block contents %}
<head>
</head>
<body>
 <div class="contents">

<div class="left">

<!--내 계정 링크-->
    <div class="profile">
        <a href="{% url 'profile' %}" style="color:#9DA674;">
            <img src="{% static 'avatar_head.png' %}" class="head" alt="My Avatar">
            <div class="profile_ex">
                <p>{{user.username}}</p>
                <p><span class="english">Lv. 3</span> 조사자</p>
            </div>
        </a>
    </div>
<!--내 계정 링크 끝-->

<!--시간표-->
    <div class="">
        <a href="{%url 'table' %}" style="text-decoration: none;"><button type ="button" value="달력" class="calendar_link" ><b>내 시간표 확인하기</b></button></a>
    </div>
<!--시간표 끝-->

<!--달력-->
    <div class="calendar">
    {% for dday in ddays.all %}
        <div class="dues">
                    <a href="#" style="text-decoration: none;color:#77A6A1;">
                        <div class="due_date">{{dday.date.month}}/{{dday.date.day}}</div>
                            <div class="due_ex">
                                <p><b>[{{ dday.team }}]</b></p>
                                <p>{{ dday.title }}</p>
                            </div>
                    </a>
        </div>

    {% endfor %}
    <div class="calendar_final">
         <a href="{%url 'timetable' %}" style="text-decoration: none;"><button type ="button" value="달력" class="calendar_link" ><b>달력 확인하기</b></button></a>
    </div>
    </div>
    
<!--달력 끝-->
</div>

<div class="right">
    <!--팀플 리스트-->
    <div class="team">
        <a href="{%url 'new' %}"><button type="button" value="팀플" class="team_new"><b>+ 새로운 팀플 만들기</b></button></a>
            {% for team in teams.all %}
            <a href="{% url 'team' team.pk %}" style="text-decoration:none;">
                <button type="button" value="팀플" class="team_list">  
                    <span style="font-size:1.5em;"><b>[{{team.t_name}}]</b></span> <span style="font-size:1.1em;">{{team.t_class}}</span>
                </button>
            </a>
            {% endfor %}
        </div>
    <!--팀플 리스트 끝-->
</div>

</div>

</body>
{% endblock %}
