awsebcli==3.15.3
botocore==1.12.199
cement==2.8.2
certifi==2019.6.16
chardet==3.0.4
colorama==0.3.9
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2
django-allauth==0.39.1
docutils==0.14
future==0.16.0
gunicorn==19.9.0
idna==2.7
jmespath==0.9.4
oauthlib==3.0.2
pathspec==0.5.9
psycopg2-binary==2.8.3
PyJWT==2.4.0
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.9
PyYAML==3.13
requests==2.20.1
requests-oauthlib==1.2.0
semantic-version==2.5.0
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.24.3
wcwidth==0.1.7
whitenoise==4.1.3
