
            *{margin:0;padding:0;}
            .contents{
                margin:auto;
                width: 600px;
                border: gray dotted 2px;
            }
        
        /*프로필*/
            .profile{
                border: green solid 1px;
                display: inline-block;
                width: 200px;
                height: 100px;
                margin: 5px;
            }
            img{
                width:50px;
            }
        
        /*달력*/
            .calendar{
                /*border: blue solid 1px;*/
                display: inline-block;
                width: 200px;
                margin: 5px;
            }
            .dues{
                border: aquamarine solid 3px;
                display: inline-block;
                width: 200px;
                height: 41px;
                position:relative;
            }
            .due_date{
                color:white;
                background-color: aquamarine;
                position:absolute;
                padding: 10px; margin:0px;
                font-size: 1em; 
            }
            .due_ex{
                positon: absolute;
                height: 50px;
                width: 100px;
                top:0; 
                margin-left:65px;
                font-size: 0.8em;
                padding: auto;
            }
            .calendar button{
                border: aquamarine solid 3px;
                background-color: white;
                width: 206px;
                margin-top: 5px;
                padding: 7px;
            }
            .calendar button:hover{
                background-color:aquamarine;
                color: white;
            }

        /*팀플*/
            .team{
                border: purple solid 1px;
                display: inline-block;
                width: 300px;
                maring: 5px
            }
